<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>
        Your Random Number:- <%= rand %>
    </h1>
    <% if(rand%2===0) {%>
        <H2>That is an Even Number</H2>
        <% } else { %>
            <H2>That is an Odd Number</H2>
            <% } %>
</body>

</html>