<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Comments</title>
</head>

<body>
    <H1>Make a new cmment </H1>
    <form action="/comments" method="POST">
        <DIV>
            <label for="username">USERNAME</label>
            <input type="text" id="username" placeholder="username" name="username">
        </DIV>
        <DIV>
            <label for="comment">Comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </DIV>
        <button>submit</button>
    </form>
</body>

</html>